@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn-primary{
  background-color: #00979C;
  border-color: #0070f3;
  color: #fff;
  font-size:0.813rem;
  text-transform:uppercase;
}
}